<!DOCTYPE html>
<html>
  <head>
    <title>Eventswipe15</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google_api_key %>"
      window.splashURL = "<%= image_url('splash_party.jpg') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
